@model TransportationGuide.ViewModels.AccountViewModels.RegisterViewModel

@{
    ViewBag.Title = "Kayıt Ol";
}


<div class="panel proper-form-bg">

    @using (Html.BeginForm("Register","Account",FormMethod.Post,new { @class="proper-singup",role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <h1 class=""><i class="icon-user"></i>Kayıt Ol</h1>
        <hr/>
        
        <label>Adınız:</label>
        @Html.TextBoxFor(m => m.Name, new { @placeholder="Adınızı Yazınız.." , @class="input-block-level", @required = "true" })
        <label>Soyadınız:</label>
        @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Soyadınızı Yazınız..", @class = "input-block-level", @required = "true" })
        <label>Email:</label>
        @Html.TextBoxFor(m => m.Email, new { @type="email", @placeholder = "Emailiniz..", @class = "input-block-level", @required = "true" })
        <label>Kullanıcı Adı:</label>
        @Html.TextBoxFor(m => m.Username, new { @placeholder = "Kullanıcı Adınız..", @class = "input-block-level", @required = "true" })
        <label>Sifre:</label>
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Sifreniz..", @class = "input-block-level", @required = "true" })
        <label>Sifre Tekrar:</label>
        @Html.PasswordFor(m => m.PasswordAgain, new { @placeholder = "Sifrenizi Tekrar Giriniz...", @class = "input-block-level", @required = "true" })
        <label class="checkbox">
        @Html.CheckBoxFor(m => m.AgreeTerms, new { @required = "true" }) <a href="#" class="italic">Kullanım Koşullarını </a> and <a href="#" class="italic">Gizlilik Politikasını</a> kabul Ediyorum..
        </label>
        if (ViewBag.RegisterResult != null)
        {
           <div class="alert ">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>@ViewBag.RegisterResult</strong>
            </div>
        }
        <hr />
        <button type="submit" class="btn-proper btn"> Kayıt Ol</button>
        <hr />
        <h4>Zaten Üye misiniz?</h4>
        <a href="~/Account/Login">Giriş Sayfasına Gidin <i class="icon-arrow-right"></i></a>
    }
</div>



