@model TransportationGuide.ViewModels.UserViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Profil Güncelle";
}

<div class="span9">
    <h2 class="main-heading bottom-line line-before"><strong>Profil Güncelle :</strong></h2>
    <div class="box-white">
        <div class="panel form-proper">
            @using (Html.BeginForm("Update", "Profile", FormMethod.Post, new { @class = "proper-singup", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                <div class="box-white">
                    <table class="table">
                        <tr>
                            <th>Adınız :  </th>
                            <td>@Html.TextBoxFor(m => m.User.Name, new { @class = "input-block-level", @required = "true" }) </td>
                        </tr>
                        <tr>
                            <th>Soyadınız : </th>
                            <td>@Html.TextBoxFor(m => m.User.Name, new { @class = "input-block-level", @required = "true" })</td>
                        </tr>
                        <tr>
                            <th>Kullanıcı Adınız : </th>
                            <td>@Html.TextBoxFor(m => m.User.Username, new { @class = "input-block-level", @required = "true" })</td>
                        </tr>
                        <tr>
                            <th>Emailiniz : </th>
                            <td>@Html.TextBoxFor(m => m.User.Email, new { @type = "email", @class = "input-block-level", @required = "true" })</td>
                        </tr>
                        <tr>
                            <th>Doğum Tarihiniz : </th>
                            <td>@Html.TextBoxFor(m => m.User.BirthDate, new { @type = "date", @class = "input-block-level", @required = "true" })</td>
                        </tr>
                    </table>
                </div>
            }
            </div>
        </div>
 </div>