@model TransportationGuide.ViewModels.UserViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Profiliniz";
}

<div class="span9">
    <h2 class="main-heading bottom-line line-before"><strong>Profil Detaylarınız :</strong></h2>
    
    <div class="box-panel box-white">
        <div class="row-fluid">
            <div class="span3 right-line">
                <div class="box-panel">
                    <a href="#" class="agent-image">
                        <img src="~/Themes/ProperTheme/images/agents/circle/a1.jpg" class="img-polaroid" alt="agent" />
                    </a>
                </div>
            </div>
            <div class="span6">
                <div class="box-white">
                            <table class="table">
                                <tr>
                                    <th>Adınız :  </th>
                                    <td>@Html.DisplayFor(m => m.User.Name)</td>
                                </tr>
                                <tr>
                                    <th>Soyadınız : </th>
                                    <td>@Html.DisplayFor(m => m.User.Surname)</td>
                                </tr>
                                <tr>
                                    <th>Kullanıcı Adınız : </th>
                                    <td>@Html.DisplayFor(m => m.User.Username)</td>
                                </tr>
                                <tr>
                                    <th>Emailiniz : </th>
                                    <td>@Html.DisplayFor(m => m.User.Email)</td>
                                </tr>
                                <tr>
                                    <th>Doğum Tarihiniz : </th>
                                    <td>@Html.DisplayFor(m => m.User.BirthDate)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
</div>